<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css" >
    </head>



    <body>
        {{>header}}   <!-- greater than symbol for partials-->

        <p> {{message}} </p>

        {{>footer}}
    </body>

</html>