<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css" >
    </head>



    <body>
        {{>header}}   <!-- greater than symbol for partials-->

        <h1> {{title}} </h1>
        <p> {{message}} </p>
    </body>

</html>